# ALIASES

# uncomment the domain-specific aliases you want to use
# source $HOME/.dottrines/custom/.ascii_aliases
source $HOME/.dottrines/custom/.dottrines_aliases
source $HOME/.dottrines/custom/.git_aliases

source $HOME/.dottrines/custom/.linux_aliases
# source $HOME/.dottrines/custom/.windows_aliases

source $HOME/.dottrines/custom/.pokemon_aliases

# source $HOME/.dottrines/noob_mode/.aliases
# source $HOME/.dottrines/noob_mode/.cheatsheet

# opens up alias files in the terminal editor
alias aliases='aliases() { if [ $1 ]; then ${EDITOR} ~/.dottrines/custom/."$1"_aliases; else ${EDITOR} ~/.dottrines/custom/.aliases; fi }; aliases'

# opens up alias files in vscode
alias vscaliases='vscaliases() { if [ $1 ]; then code ~/.dottrines/custom/."$1"_aliases; else code ~/.dottrines/custom/.aliases; fi }; vscaliases'

# opens up run command files in the terminal editor
alias rc='rc() { ${EDITOR} ~/."$1"rc; }; rc'

# opens up run command files in vscode
alias vscrc='vscrc() { code ~/."$1"rc; }; vscrc'

# brings you to a repo
alias repos='repos() { if [ $1 ]; then cd ~/repos/"$1"; else cd ~/repos; fi }; repos'

# opens up a repo in vscode
alias vscrepo='vscrepo() { code -n ~/repos/"$1"/ }; vscrepo'

# brings you to the 'dottrines' directory
alias dottrines='cd ~/.dottrines/'

# opens up the 'dottrines' directory
alias vscdottrines='code -n ~/.dottrines/'

alias a='alias'
alias an='alias'

# short forms
alias dot='aliases'
alias vscdot='vscaliases'
alias repo='repos'
alias saw='sauu'
alias s='search'
alias md='makedirectory'
alias mf='makefile'
alias rd='removedirectory'
alias rf='removefile'
alias lt='ltossed'

# ---

# locations
alias home='cd ~'
alias root='cd /'
alias tossed='cd ~/.local/share/Trash/files/tossed/'
alias trash='cd ~/.local/share/Trash/files/'

# editors
alias n='nano'
alias vsc='code'

# python
alias python='python3'
alias py='python3'

# apt
alias apt='sudo apt' # 'apt' overwritten for copypaste reasons
alias apti='sudo apt install'
alias sauu='sudo apt update && sudo apt upgrade -y'

# simple things
alias back='cd ..'
alias clr='clear'
alias help='man'
alias here='pwd'
alias last='cd -'
alias o='open'
alias please='sudo'
alias plis='sudo'
alias pls='sudo'
alias to='cd'

# english-like commands
alias count='find . -type f | wc -l'
alias f='find . -iname'
alias search='grep -ir'
alias copy='copy() { cp -irv "$1" "$2"; echo hey, you copied that \""$1"\" thing to \""$2"\" using the \*cp\* command!; }; copy'
alias move='move() { mv -iv "$1" "$2"; echo hey, you moved that \""$1"\" thing to \""$2"\" using the \*mv\* command!; }; move'
alias makedirectory='makedirectory() { mkdir -pv "$1"; echo hey, you just made that \""$1"\" directory using the \*mkdir\* command. yay!; }; makedirectory'
alias makefile='makefile() { touch "$1"; echo hey, you just made that \""$1"\" file using the \*touch\* command. yay!; }; makefile'
alias removedirectory='removedirectory() { rm -Ivr "$1"; echo hey, you just removed that \""$1"\" directory using the \*rm\* command, NOT rmdir!; }; removedirectory'
alias removefile='removefile() { rm -Iv "$1"; echo hey, you just removed that \""$1"\" file using the \*rm\* command!; }; removefile'
alias rename='rename() { mv -iv "$1" "$2"; echo hey, you renamed that \""$1"\" thing to \""$2"\" using the \*mv\* command!; }; rename'

# ls
alias l='ls -1A --group-directories-first && echo --- && echo \(listed with directories first\)'
alias ll='ls -lAht && echo --- && echo \(listed by last modified\)'
alias lll='ls -lAh --group-directories-first && echo --- && echo \(listed with directories first\)'
alias llll='ls -lahF && echo --- && echo \(listed alphabetically\);'
alias ldot='ls -ld .*'
alias lsize='ls -1AhsS'
alias ltossed='la --group-directories-first ~/.local/share/Trash/files/tossed/ && echo --- && echo \(listed with directories first\)'
alias ltrash='la --group-directories-first ~/.local/share/Trash/files/ && echo --- && echo \(listed with directories first\)'

alias look='look() { ls -1A --group-directories-first "$1"; echo ---; echo \(listed with directories first\); }; look'

# toss things into the trash instead of hard deleting them
alias toss='toss() { md ~/.local/share/Trash/files/tossed/; mv -ivt ~/.local/share/Trash/files/tossed/ "$1"; echo hey, you just tossed that \""$1"\" thing in the trash using the \*mv\* command. so stinky!; }; toss'

# ---

# from others

# see the top fifty commands you run most
alias topcommands='topcommands() { history | awk '\''{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}'\'' | sort -n -r | head -50; }; topcommands'

# ---

# more aliases you can use
source $HOME/.dottrines/custom/.new_aliases
